*{margin:0;
padding:0;}

.dabiaoti{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0.5%;
	margin-bottom: 0%;
	
}
.disexian{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	
}
.zuobiankuang{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: -0.5%;
	margin-bottom: 0%;
	
}
.zuobiankuangzi{
	margin-left: -83%;
	margin-right: 0%;
	margin-top: -145%;
	margin-bottom: 0%;
	
}
.biankuang{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: -150%;
	margin-bottom: 0%;
	
}
.baiqueling{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.baiquelingzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang2{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 7%;
	margin-bottom: 0%;
	
}
.meifubao{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.meifubaozi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang3{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 3%;
	margin-bottom: 0%;
	
}
.xiangyibencao{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.xiangyibencaozi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang4{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 5%;
	margin-bottom: 0%;
	
}
.zhuben{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.zhubenzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang5{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 3%;
	margin-bottom: 0%;
	
}
.qiechu{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.qiechuzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang6{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 5%;
	margin-bottom: 0%;
	
}
.xiwuji{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.xiwujizi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}

       .container {
  display: grid;
  justify-content: center;
}

.full-width {
  grid-column: 1 / -1;
}
