*{margin:0;
padding:0;}

.dabiaoti{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0.5%;
	margin-bottom: 0%;
	
}
.disexian{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	
}
.zuobiankuang{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: -0.5%;
	margin-bottom: 0%;
	
}
.zuobiankuangzi{
	margin-left: -83%;
	margin-right: 0%;
	margin-top: -200%;
	margin-bottom: 0%;
	
}
.biankuang{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: -200%;
	margin-bottom: 0%;
	
}
.wanmeiriji{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.wanmeirijizi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang2{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 7%;
	margin-bottom: 0%;
	
}
.kazilan{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.kazilanzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang3{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 2.3%;
	margin-bottom: 0%;
	
}
.hualuoliya{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.hualuoliyazi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang4{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 7%;
	margin-bottom: 0%;
	
}
.juduo{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.juduozi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang5{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 4.5%;
	margin-bottom: 0%;
	
}
.yabang{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.yabangzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}
.biankuang6{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 7%;
	margin-bottom: 0%;
	
}
.zhuzhan{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.zhuzhanzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}

.biankuang7{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 5%;
	margin-bottom: 0%;
	
}
.caitang{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.caitangzi{
	margin-left: 38%;
	margin-right: 0%;
	margin-top: -13%;
	margin-bottom: 0%;
	
}


.biankuang8{
	margin-left: 22%;
	margin-right: 0%;
	margin-top: 5%;
	margin-bottom: 0%;
	
}
.daichunlin{
	margin-left: 32%;
	margin-right: 0%;
	margin-top: -18%;
	margin-bottom: 0%;
	
}
.daichunlinzi{
	margin-left: 18.8%;
	margin-right: 0%;
	margin-top: -206.55%;
	margin-bottom: 0%;
	
}
.diye{
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 11%;
	margin-bottom: 0%;
	
}
.diyezi{
	margin-left:67%;
	margin-right: 0%;
	margin-top: -8%;
	margin-bottom: 0%;
	
}
       .container {
  display: grid;
  justify-content: center;
}

.full-width {
  grid-column: 1 / -1;
}
